@import "tailwindcss";

body {
  @apply bg-blue-950;
}

.radio-togglers {
  @apply bg-white inline-flex p-2 gap-2 rounded-md;
}

.radio-togglers div {
  @apply p-2 px-5 shadow-lg rounded-md pl-2 flex items-center gap-2 cursor-pointer hover:font-semibold;
}

.radio-togglers input[type="radio"] {
  @apply hidden;
}

.radio-togglers input[type="radio"]:checked + div {
  @apply text-blue-500 bg-white cursor-pointer;
}

input[type="text"],
textarea {
  @apply w-full block py-2 px-2 mb-2 rounded-sm;
}

label.input-label {
  @apply uppercase text-xs font-semibold mb-2;
}

.sortable-ghost {
  opacity: .2;
}

input#navCb:checked~aside {
  left: 0;
}

input#navCb:checked~.backdrop {
  display: block;
}